@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	--ui-accent-50: #ccd5ff;
	--ui-accent-100: #a3b3ff;
	--ui-accent-200: #828ab0;
	--ui-accent-800: #272a38;
	--ui-accent-select-fg: #ccd5ff;
	--ui-accent-select-bg: #a3b3ff30;
	--ui-main-50: #fafafa;
	--ui-main-200: #e4e4e7;
	--ui-main-300: #9f9fad;
	--ui-main-400: #6a6a7c;
	--ui-main-450: #5f5f6d;
	--ui-main-500: #525260;
	--ui-main-600: #4b4b58;
	--ui-main-700: #3b3b45;
	--ui-main-800: #212126;
	--ui-main-900: #121215;
}

@theme {
	--font-nunito: 'Nunito', sans-serif;
	--font-outfit: 'Outfit', sans-serif;
	--font-Vollkorn: 'Vollkorn', serif;

	--color-accent-50: var(--ui-accent-50);
	--color-accent-100: var(--ui-accent-100);
	--color-accent-200: var(--ui-accent-200);
	--color-accent-800: var(--ui-accent-800);
	--color-main-50: var(--ui-main-50);
	--color-main-200: var(--ui-main-200);
	--color-main-300: var(--ui-main-300);
	--color-main-400: var(--ui-main-400);
	--color-main-450: var(--ui-main-450);
	--color-main-500: var(--ui-main-500);
	--color-main-600: var(--ui-main-600);
	--color-main-800: var(--ui-main-800);
	--color-main-900: var(--ui-main-900);
}

@custom-variant hocus (&:hover, &:focus-visible);

html,
body {
	background-color: var(--ui-main-900);
	color: var(--ui-main-50);
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
}

*:focus-visible {
	outline: 0px;
}

::-moz-selection {
	color: var(--ui-accent-select-fg);
	background: var(--ui-accent-select-bg);
}

.tiptap p.is-editor-empty:first-child::before {
	color: var(--ui-main-600);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
